nlog.config
<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns=""
	<http://www.nlog-project.org/schemas/NLog.xsd>" xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="<http://www.w3.org/2001/XMLSchema-instance>"
	autoReload="true"
	internalLogFile="c:\\logs\\console-example-internal.log"
	internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to the files -->
		<target xsi:type="File" name="all_logs_file" fileName=".\logs\eggviewer.txt"/>
		<!-- write logs to the console-->
		<target xsi:type="Console" name="logconsole" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Warn" writeTo="important_logs_file" />
	</rules>
</nlog>

