<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeViewer.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokeViewer.NET.Properties.Settings>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HidePIDEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebHook" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDiscordID" serializeAs="String">
                <value />
            </setting>
            <setting name="StopOnShiny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBoxOf3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EatOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EatAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoldFillings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Item2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Item3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Item1DUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item2DUP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Item3DUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FillingsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HoldTime" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="LivenessPing" serializeAs="String">
                <value>False</value>
            </setting>
        </PokeViewer.NET.Properties.Settings>
    </userSettings>
</configuration>