<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeViewer.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokeViewer.NET.Properties.Settings>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HidePIDEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebHook" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDiscordID" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWiFiProtocol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopOnShiny" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SegmentOrFamily" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenderFilter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HPFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="AtkFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="DefFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="SpaFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="SpdFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="SpeFilter" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="IgnoreIVFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetIVS" serializeAs="String">
                <value>0</value>
            </setting>
        </PokeViewer.NET.Properties.Settings>
    </userSettings>
</configuration>